.products-container {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-content-width;

  margin: auto;
}



.shop-item {
  display: flex;
  flex-direction: column;

  width: calc(100% / 3 - #{$gutter} - #{$gutter});
  margin: $gutter;

  background: $brand-white;

  &__pic {
    position: relative;

    width: 100%;

    border-radius: 0.1rem;

    overflow: hidden;

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__name-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-top: $gutter;
    }

  }

  &__title {
    margin: 0;
    padding: 0 $gutter;

    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__shop-name {
    margin: 0;
    padding: 0 $gutter;

    color: darken($brand-light-gray, 30%);
    font-size: 0.8rem;
  }

  &__price {
    margin: 0;
    padding: 0 $gutter;

    color: $brand-green;
    font-size: 0.8rem;
  }
}
