.menu-container {
  margin: auto;

  border-bottom: 0.2rem solid $brand-light-gray;
  background: $brand-background;
}

.menu-list {
  display: flex;
  flex-direction: row;

  width: $max-content-width;

  &__item {
    padding: 0 $gutter;
    color: $brand-gray;

    &:hover {
      border-bottom: 0.2rem solid $brand-primary;
      cursor: pointer;

    }
  }
}
